.app {
  min-width: 100vw;
}

.navbar {
  color: #080705;
  background-color: #fffffb;
  padding: 3px 10px;
}

.row-space-between {
  justify-content: space-between;
}

.main-container {
  background-color: #343434;
  color: #fffffb;
  min-height: 100vh;
  padding: 20px 10px;
  overflow-wrap: break-word;
}

.actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bx--accordion__title {
  color: #fffffb !important;
}

.change-username {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

@media screen and (min-width: 600px) {
  .health-bar {
    width: 50%;
  }
  .main-container {
    padding: 40px 25%;
  }
}

#username-input {
  margin-bottom: 20px;
  min-width: 100%;
  max-width: 100%;
}

@media screen and (max-width: 600px) {
  .health-bar {
    width: 100%;
  }
}
